<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/fragmentos :: headHeader('Pessoas')}"></head>

<body class="sb-nav-fixed">
<nav th:replace="~{fragment/fragmentos :: navi}"></nav>

<div id="layoutSidenav">
    <div th:replace="~{fragment/fragmentos :: layoutSidenav_nav}"></div>
    <div id="layoutSidenav_content">
        <main >
            <div class="container-fluid px-4">
                <h2 class="mt-4">Lançamento</h2>
                <div class="card mb-4" style="margin-top: 10px">
                    <div class="card-header" >
                        <div class="row" >
                            <div class="col-6 col-sm-6" >
                                <i class="fas fa-table me-1"></i>
                                Atualizar Lançamento
                            </div>
                            <div class="col-6 col-sm-6" style="text-align: right"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="form" th:action="@{/lancamentos}" method="post" th:object="${lancamento}">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-outline-primary btn-1">
                                                <input type="radio" value="RECEITA" th:field="*{tipo}" id="inl           ineButton1" required>Receita</input>
                                            </label>
                                            <label  class="btn btn-outline-primary btn-2">
                                                <input type="radio" value="DESPESA" th:field="*{tipo}" id="inlineButton2" required>Despesa</input>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 oculte">
                                        <div class="form-group">
                                            <label for="codigo" class="form-label">codigo</label>
                                            <input id="codigo" type="text" class="form-control" th:field="*{codigo}" >
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="vencimento" class="form-label">Vencimento</label>
                                            <input id="vencimento" pattern="yyyy-MM-dd" type="date" class="form-control" th:field="*{dataVencimento}" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="form-label recebimento">Recebimento:</label>
                                            <label class="form-label pagamento">Pagamento:</label>
                                            <input id="recebimento" pattern="yyyy-MM-dd" type="date" class="form-control" th:field="*{dataPagamento}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label for="logradouro_update" class="form-label">Descrição:</label>
                                            <input type="text" id="logradouro_update" class="form-control" th:field="*{descricao}"  required>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="numero_update" class="form-label">Valor:</label>
                                            <input type="text" id="numero_update" class="form-control" th:field="*{valor}" placeholder="0,00"  required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="bairro_update" class="form-label">Categoria:</label>
                                            <select type="text" th:field="*{categoria}" id="bairro_update" class="form-control" required>
                                                <option value="">Selecione</option>
                                                <option th:each="categoria: ${categorias}"
                                                        th:value="${categoria.codigo}" th:text="${categoria.nome}">Teste 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="cep_update" class="form-label">Pessoa:</label>
                                            <select type="text" id="cep_update" class="form-control" th:field="*{pessoa}"  required>
                                                <option value="">Selecione</option>
                                                <option th:each="pessoa: ${pessoas}"
                                                        th:value="${pessoa.codigo}" th:text="${pessoa.nome}">Teste 2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="observacao" class="form-label">Observação:</label>
                                            <textarea type="textarea" id="observacao" class="form-control" th:field="*{observacao}"  required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="submeter" class="btn btn-primary ">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div th:replace="~{fragment/fragmentos :: scripts}"></div><!-- SCRIPTS JS -->
</body>
<script>
    $(document).ready(function () {
        $('.pagamento').hide();

        $('#inlineButton1').click(function () {
            $('.recebimento').show();
            $('.pagamento').hide();
            $('.btn-1').addClass("active");
            $('.btn-2').removeClass("active");
        })

        $('#inlineButton2').click(function () {
            $('.recebimento').hide();
            $('.pagamento').show();
            $('.btn-1').removeClass("active");
            $('.btn-2').addClass("active");

        })
    });
</script>
</html>