<!DOCTYPE html>
<html lang="br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <div th:fragment="headHeader(titulo)">
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="theme-color" content="#ffffff">
      <link rel="shortcut icon"  href="/img/favicon.ico"  th:href="@{../static/favicon.ico}">
      <title th:text="'Sistema de Controle de Dispesas :: '+${titulo}">Home - Admin</title>
      <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      <link th:href="@{/css/styles.css}" rel="stylesheet">
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
      <link th:href="@{/css/style-alerts.css}" rel="stylesheet" />


      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/fontawesome.min.css">
      <!-- Data table -->
      <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </div>
  </head>


<body>
  <!-- TAG NAV -->
  <nav th:fragment="navi" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a style="color: #ffc107; font-size: 20px; font-family: Arial" class="navbar-brand ps-3" href="/home">
      <img th:src="@{/img/header_logo.svg}" class="foto-logo rounded">
    </a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li>
        <div style="margin-top: 7px" class="use-login">
          <lu><span style="color: white;" sec:authentication="name"></span></lu>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
<!--          <li><a class="dropdown-item" href="#!">Settings</a></li>-->
<!--          <li><a class="dropdown-item" href="#!">Activity Log</a></li>-->
<!--          <li>-->
<!--            <hr class="dropdown-divider">-->
<!--          </li>-->
          <li><a style="overflow: hidden" onclick="document.querySelector('#form-login-logout').submit()" class="dropdown-item" href="#">Sair</a></li>
          <form id="form-login-logout" th:action="@{/logout}" method="post"></form>
        </ul>
      </li>
    </ul>
  </nav> <!-- FIM TAG NAV -->

  <!-- TAG NAV -->
  <nav th:fragment="navi-cliente" style="padding:40px;" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div>
      <a class="nav-link" href="/home">
        <div class="sb-nav-link-icon"></div>
        Login
      </a>
    </div>
    <div class="col-sm-12 col-12" style="text-align: center;">
        <img style="width:140px" th:src="@{/img/logo_colorida.png}" class="foto-logo rounded">
    </div>
  </nav> <!-- FIM TAG NAV -->

  <!-- TAG FOOTER -->
  <footer th:fragment="footer" class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
      <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright © TCC 2022</div>
        <div>
          <a href="#">Privacy Policy</a>
          ·
          <a href="#">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </footer> <!-- FIM TAG FOOTER -->

  <div th:fragment="layoutSidenav_nav" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>
          <a class="nav-link" href="/home">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Home
          </a>
          <div class="sb-sidenav-menu-heading">Interface</div>

<!--          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"-->
<!--             aria-expanded="false" aria-controls="collapseLayouts">-->
<!--            <div class="sb-nav-link-icon"><i class="bi bi-kanban-fill"></i></div>-->
<!--            Gestão-->
<!--            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--          </a>-->
<!--          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"-->
<!--               data-bs-parent="#sidenavAccordion">-->
<!--            <nav class="sb-sidenav-menu-nested nav">-->
<!--              <a class="nav-link" href="/u/novo/cadastro/usuario">Cadastrar Pessoa</a>-->
<!--              <a class="nav-link" href="/u/lista/">Cadastrar Lançamento</a>-->
<!--              <a class="nav-link" href="/u/lista/">Cadastrar Categoria</a>-->
<!--            </nav>-->
<!--          </div>-->
          <a class="nav-link" href="/lancamentos">
            <div class="sb-nav-link-icon"><i class="bi bi-clipboard-data"></i></div>
            Lançamentos
          </a>
          <a class="nav-link" href="/categorias">
            <div class="sb-nav-link-icon"><i class="bi bi-collection-fill"></i></div>
            Categorias
          </a>
          <a class="nav-link" href="/pessoas">
            <div class="sb-nav-link-icon"><i class="bi bi-person-lines-fill"></i></div>
            Pessoas
          </a>
<!--          <a class="nav-link" href="/equipamentos">-->
<!--            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>-->
<!--            Equipamentos-->
<!--          </a>-->
<!--          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"-->
<!--             data-bs-target="#collapseLayoutsConfig" aria-expanded="false"-->
<!--             aria-controls="collapseLayoutsConfig">-->
<!--            <div class="sb-nav-link-icon"><i class="bi bi-gear-fill"></i></div>-->
<!--            Configurações-->
<!--            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--          </a>-->
<!--          <div class="collapse" id="collapseLayoutsConfig" aria-labelledby="headingOne"-->
<!--               data-bs-parent="#sidenavAccordion">-->
<!--            <nav class="sb-sidenav-menu-nested nav">-->
<!--              <a class="nav-link" href="/testadores">Testador</a>-->
<!--              <a class="nav-link" href="/cabecalhos">Cabeçalho</a>-->
<!--              <a class="nav-link" href="/assinaturas">Assinatura</a>-->
<!--              <a class="nav-link" href="/configs">Config. Laudo</a>-->
<!--              <a class="nav-link" href="#">Dados da empresa</a>-->
<!--            </nav>-->
<!--          </div>-->
          <div class="sb-sidenav-menu-heading"></div>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        VP Serviços
      </div>
    </nav>
  </div>

  <div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
              crossorigin="anonymous"></script>
      <script th:src="@{/js/scripts.js}"></script>
      <script  th:src="@{/js/usuario.js}" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js}" crossorigin="anonymous"></script>
      <script th:src="@{/assets/demo/chart-area-demo.js}"></script>
      <script th:src="@{/assets/demo/chart-bar-demo.js}"></script>
      <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
      <!-- DATA TABLE -->
      <script rel="stylesheet" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
      <script th:src="@{/js/datatables-simple-demo.js}"></script>
  </div>
</body>
</html>